<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>476536040674-8rl6arcthd2897rheiehubam4eqneo95.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.476536040674-8rl6arcthd2897rheiehubam4eqneo95</string>
	<key>API_KEY</key>
	<string>AIzaSyCxUGfOTvVkkBsU5IzUjCntPaZVFzwn30s</string>
	<key>GCM_SENDER_ID</key>
	<string>476536040674</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kahoot.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>kahoot-a7063</string>
	<key>STORAGE_BUCKET</key>
	<string>kahoot-a7063.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:476536040674:ios:89cd0afd3afb822171c2bb</string>
</dict>
</plist>